# Meeting {{meetingDay}}

{{#issuesByAssignee}}
  ## {{#assignee.avatar_url}}<img src="{{&assignee.avatar_url}}" height="30" alt="{{assignee.name}}"/> {{/assignee.avatar_url}}{{assignee.name}}

  ### open: {{issueCounts.opened}}, closed: {{issueCounts.closed}}

  quota closed: {{quota}}%

  | __title__ | __status__ | __project__ | __weeks__ |
  | --- | --- | --- | --- |
  {{#issues}}| __[{{#$closed}}~~{{title}}~~{{/$closed}}{{^$closed}}{{title}}{{/$closed}}]({{&web_url}})__<br />__Labels:__{{#$labels}}{{#bold}} __{{label}}__ {{/bold}}{{^bold}} {{label}} {{/bold}}{{/$labels}} | {{#$branchExists}}<img src="https://cdn0.iconfinder.com/data/icons/octicons/1024/git-branch-512.png" height="30" alt="branch exists"/>{{/$branchExists}}{{#$mergeRequestUrl}}[<img src="https://cdn0.iconfinder.com/data/icons/octicons/1024/git-merge-512.png" height="30" alt="merge request exists"/>]({{&$mergeRequestUrl}}){{/$mergeRequestUrl}} | [{{$project}}](https://gitlab.com/{{&$project}}) | {{$weeksOpen}} |
  {{/issues}}
{{/issuesByAssignee}}

Generated {{timestamp}}.
